@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
/***IMPORTS***/
/***RESETEO****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** FONTS 
font-family: 'Oswald', sans-serif; 
**/
body {
  font-family: "Oswald", sans-serif;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

/***RESETEO****/
/** INDEX **/
/**MAIN INDEX**/
/**BANNERHIGH INDEX*/
.banner-container {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/banner-pp.png);
  background-size: cover;
  background-position: center;
}
.banner-container .banner-texts {
  list-style: none;
  text-decoration: none;
  text-align: center;
}
.banner-container .banner-texts h1 a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.banner-container .banner-title {
  margin-bottom: 70px;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.811);
  padding: 15px;
}
.banner-container .banner-texts-bottom a {
  list-style: none;
  text-decoration: none;
  margin-bottom: 40px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.813);
  color: white;
  padding: 10px;
}
.banner-container .banner-cta-nosotros {
  margin-right: 50px;
}
.banner-container .banner-cta-servicios {
  margin-left: 50px;
}

/**BANNERHIGH INDEX*/
/**DESCRIPCIÓN INDEX*/
.about-container {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container .about-texts {
  width: 90%;
  height: 60%;
}
.about-container .about-title {
  font-size: 30px;
}
.about-container .about-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.about-container .about-paragraph p {
  margin: 20px;
}

/**DESCRIPCIÓN INDEX**/
/**DESTACADOS INDEX**/
.destacados-container {
  margin-top: 200px;
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 200px;
}
.destacados-container .destacados-cortes {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 100px;
}
.destacados-container .destacados-cortes a {
  color: rgb(0, 0, 0);
}
.destacados-container .destacados-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  grid-template-areas: "destacados-crest" "destacados-low" "destacados-high" "destacados-crest" "destacados-low" "destacados-high" "destacados-crest" "destacados-low" "destacados-high";
  gap: 30px;
}
.destacados-container .destacados-crest {
  grid-area: "destacados-crest";
}
.destacados-container .destacados-low {
  grid-area: "destacados-low";
}
.destacados-container .destacados-high {
  grid-area: "destacados-high";
}
.destacados-container .destacados-cards img {
  width: 100%;
  height: 500px;
}
.destacados-container .destacados-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.611);
}

/**DESTACADOS INDEX**/
/**INDEX MEDIAQUERIES**/
@media (max-width: 700px) {
  .about-paragraph {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .destacados-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
    grid-template-areas: "destacados-crest" "destacados-low" "destacados-high";
  }
  .destacados-low {
    margin-top: 50px;
  }
  .destacados-cta {
    font-size: 10px;
  }
  .about-paragraph {
    display: block;
  }
  .about-paragraph-2 {
    padding-top: 20px;
  }
  .reserva-container {
    margin-top: 150px;
  }
  .banner-title {
    font-size: 20px;
  }
}
/**INDEX MEDIAQUERIES**/
/****  FOOTER DE TODA LA PAG  ****/
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.401);
  margin-bottom: 40px;
  /**FOOTER DERECHOS**/
  /** footer barranav **/
}
.footer-container .footer-container p {
  margin-left: 200px;
}
.footer-container .footer-texts {
  margin-right: 200px;
}
.footer-container .footer-texts li {
  padding: 8px;
}
.footer-container .footer-texts li a {
  color: black;
  text-decoration: underline;
  font-size: 12px;
}

/***********RESERVA DE TODA LA PAG***********/
.reserva-container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.401);
  margin-bottom: 300px;
}
.reserva-container .reserva-texts {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.reserva-container .reserva-texts a {
  margin-top: 50px;
  padding: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/***********RESERVA DE TODA LA PAG***********/
/****  BANNER DE MARMOL  ****/
/**
.banner-marmol-texts {
    background-image: url(../images/pared-marmol.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-left: 16%;
    font-size: 25px;
}
**/
/****  BANNER DE MARMOL  ****/
/*****  CARD MARMOL  ******/
.card {
  justify-content: center;
  width: 100%;
}
.card img {
  height: 500px;
}
.card .card-img-overlay {
  margin-top: 150px;
  text-align: center;
  font-size: 20px;
}
.card .card-title {
  font-size: 100px;
}

/*****  CARD MARMOL  ******/
/**** MAIN NOSOTROS  ****/
/** MAIN NOSOTROS IMAGENES **/
.casco-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 150px;
  margin-right: 50px;
}
.casco-container .casco-container p {
  text-align: center;
  justify-content: center;
  margin-top: 200px;
  padding-left: 20px;
}

.moto-container {
  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-top: 150px;
  margin-right: 50px;
}
.moto-container .moto-container p {
  text-align: center;
  justify-content: center;
  margin-top: 200px;
  padding-left: 20px;
}

.cortando-container {
  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-top: 150px;
  margin-right: 50px;
  margin-bottom: 150px;
}
.cortando-container .cortando-container p {
  text-align: center;
  justify-content: center;
  margin-top: 200px;
  padding-left: 20px;
}

/** MAIN NOSOTROS IMAGENES **/
/** FIN MAIN NOSOTROS **/
/*** NOSOTROS MEDIAQUERIES ****/
@media (max-width: 530px) {
  .card-title {
    font-size: 50px;
  }
}
@media (max-width: 850px) {
  .moto-container img {
    height: 500px;
  }
}
@media (max-width: 800px) {
  .casco-container p {
    align-items: center !important;
    justify-content: center !important;
    margin-top: 100px;
  }
  .casco-container img {
    height: 400px !important;
    width: 400px !important;
  }
  .moto-container img {
    height: 400px !important;
    width: 400px !important;
  }
  .moto-container p {
    align-items: center !important;
    justify-content: center !important;
    margin-top: 100px;
  }
  .cortando-picture {
    height: 400px !important;
    width: 400px !important;
  }
  .cortando-container p {
    align-items: center !important;
    justify-content: center !important;
    margin-top: 100px;
  }
}
@media (max-width: 750px) {
  .casco-container p {
    font-size: 10px;
  }
  .moto-container p {
    font-size: 10px;
  }
  .cortando-container p {
    font-size: 10px;
  }
}
@media (max-width: 650px) {
  .moto-container {
    display: block;
  }
  .moto-container img {
    height: 300px !important;
    width: 300px !important;
  }
  .casco-container {
    display: block;
  }
  .casco-container img {
    height: 300px !important;
    width: 300px !important;
  }
  .cortando-container {
    display: block;
  }
  .cortando-picture {
    height: 300px !important;
    width: 300px !important;
  }
}
/*** NOSOTROS MEDIAQUERIES****/
/**** MAIN SERVICIOS *****/
.cortes-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 150px;
}
.cortes-container .cortes-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.cortes-container .cortes-texts {
  margin-top: 100px;
  margin-left: 20px;
}

.unisex-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 150px;
}
.unisex-container .unisex-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.unisex-container .unisex-texts {
  margin-top: 100px;
  margin-left: 20px;
}

.color-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 150px;
  margin-bottom: 150px;
}
.color-container .color-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.color-container .color-texts {
  margin-top: 100px;
  margin-left: 20px;
}

/**** FIN MAIN SERVICIOS *****/
/**** SERVICIOS MEDIAQUERIES ****/
@media (max-width: 650px) {
  .unisex-container {
    display: block;
  }
  .color-container {
    display: block;
  }
  .cortes-container {
    display: block;
  }
}
/**** SERVICIOS MEDIAQUERIES ****/
/*** MAIN TRABAJOS ***/
/*****  CARD preIMAGENES  ******/
.mt-auto {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
}

/*****  CARD preIMAGENES  ******/
/*****  CARD IMAGENES  ******/
.container {
  margin-bottom: 150px;
}
.container .col-lg-6 {
  padding: 50px;
  margin: 0;
}
.container .img-corte {
  width: 100%;
  height: 300px;
}
.container .img-corte:hover {
  border: 5px solid rgb(255, 255, 255);
}

/*****  CARD IMAGENES  ******/
/**** FIN MAIN TRABAJOS *****/
/****  CONTACTO  ****/
.reserva-contacto {
  text-align: center;
  margin-top: 200px;
}

.horarios-container {
  margin-top: 50px;
  text-align: center;
}

form {
  margin-top: 80px;
  margin-bottom: 150px;
  margin-left: 25%;
  margin-right: 25%;
}

/****  FIN MAIN CONTACTO  ****/
/*****  CSS MEDIAQUERIES  ******/
@media (max-width: 500px) {
  .footer-container p {
    margin-left: 25%;
  }
  .legend {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
