/****  BANNER DE MARMOL  ****/

.banner-marmol-texts {
    background-image: url(../images/pared-marmol.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-left: 16%;
    font-size: 25px;
}
/****  BANNER DE MARMOL  ****/