/****  CONTACTO  ****/
.reserva-contacto{
    text-align: center;
    margin-top: 200px;
}
.horarios-container{
    margin-top: 50px;
    text-align: center;
} 
form{
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: 25%;
    margin-right: 25%;
}
/****  FIN MAIN CONTACTO  ****/