/***RESETEO****/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/** FONTS 
font-family: 'Oswald', sans-serif; 
**/ 

body{
    font-family: 'Oswald', sans-serif;
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
/***RESETEO****/