/**** MAIN SERVICIOS *****/

.cortes-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 150px;
    img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }   
} 
.cortes-texts{
    margin-top: 100px;
    margin-left: 20px;
    
}
.unisex-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 150px;
    img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    } 
}
.unisex-texts{
    margin-top: 100px;
    margin-left: 20px;
}
.color-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 150px;
    img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    
} 
.color-texts{
    margin-top: 100px;
    margin-left: 20px;
}

/**** FIN MAIN SERVICIOS *****/


/**** SERVICIOS MEDIAQUERIES ****/
@media (max-width:650px){
    .unisex-container{
        display: block;
    }
    .color-container{
        display: block;
    }
    .cortes-container{
        display: block;
    }
}
/**** SERVICIOS MEDIAQUERIES ****/