/*** MAIN TRABAJOS ***/
/*****  CARD preIMAGENES  ******/
.mt-auto{
    margin-top: 150px !important;
    margin-bottom: 150px !important;
}
/*****  CARD preIMAGENES  ******/

/*****  CARD IMAGENES  ******/
.container{
    margin-bottom: 150px;
    .col-lg-6{
        padding: 50px;
        margin: 0;
    }
    .img-corte{
        width: 100%;
        height: 300px;
    }
    .img-corte:hover{
        border: 5px solid rgb(255, 255, 255);
    }
}

/*****  CARD IMAGENES  ******/
/**** FIN MAIN TRABAJOS *****/